// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reply {
  border-left: 2px solid gray;
  padding: 20px;
  margin-bottom: 30px;
}

.coach {
  background-color: yellow;
}

input {
  height: 30px;
  border-radius: 10px;
}
